# Nombre/Apellido: Braymer David Domínguez Morales
# Matricula: 22-SISN-2-052

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs and cache
*.log
.cache/

# Videos and large binaries
*.mp4
*.avi
*.mov
*.mkv

# ZIPs or builds
*.zip
*.tar.gz
dist/
build/
